<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--配置第三方工厂-->
    <bean id="targeConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${activemq.brokerURL}"></property>
        <property name="userName" value="${activemq.username}"></property>
        <property name="password" value="${activemq.password}"></property>
    </bean>

    <!--activemq提供了一个PooledConnectionFactory,通过注入ActiveMQConnectionFactory，
    可以将Connection、Session和MessageProducer池化，这样可以减少资源消耗-->
    <bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
        <property name="connectionFactory" ref="targeConnectionFactory"></property>
        <property name="maxConnections" value="${activemq.pool.amxConnections}"></property>
    </bean>

    <!--创建Spring提供的ConnectionFactory-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <!--targetConnectionFactory对应JMS所需的ConnectionFactory-->
        <property name="targetConnectionFactory" ref="pooledConnectionFactory"></property>
    </bean>

    <!--配置消息发送的目的地-->
    <bean id="msgQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg>
            <value>${activemq.queueName}</value>
        </constructor-arg>
    </bean>

    <!--使用spring提供的JMS模板-->
    <bean id="jsmTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"></property>
        <property name="defaultDestinationName" value="${activemq.queueName}"></property>
    </bean>

    <!--配置自定义监听器-->
    <bean id="msgQueueMessageListener" class="com.test.activemq.MsqLister"></bean>

    <!--将连接工厂、目标队列、自定义监听器注入到jms模板-->
    <bean id="sessionAwareListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
       <!-- <property name="autoStartup" value="true"></property>-->
       <!-- <property name="acceptMessagesWhileStopping" value="true"></property>-->
        <property name="connectionFactory" ref="connectionFactory"></property>
        <property name="destination" ref="msgQueue"></property>
        <property name="messageListener" ref="msgQueueMessageListener"></property>
    </bean>
</beans>